pom.xml
*jar
/lib/
/classes/
.lein-deps-sum
/.lein-env
/.nrepl-port
/target

# Created by http://gitignore.io

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
